# Курсовая работа. Блок 1
*Pandas и Matplotlib*

**NB!** Код должен быть с комментариями к каждому логическому блоку кода. В противном случае работа **не** будет принята. <br><br>
Выполнение курсовой работы может потребовать использование дополнительных библиотек. 

<br><br>
**Описание работы:**

Перед вами стоит бизнес-задача – на основании имеющихся данных подготовить аналитический отчет, который в дальнейшем поможет продюсерам образовательных программ эффективно выстраивать стратегию по модернизированию и улучшению курсов. В начале отчета предлагается оформить емкий описательный блок по каждому курсу на основании рассчитанных показателей. Далее предлагается посчитать потенциальную нагрузку на преподавателей, чтобы оценить необходимость расширения штата сотрудников. Затем идет блок из двух пунктов по анализу качества контента курсов, где необходимо выявить проблемные модули, которые, возможно, требуют доработки. Также стоит задача выявить потенциальную сезонность. Наконец, предложено задание для самостоятельной разработки метрики успеваемости студентов для нахождения тех, кто значительно хуже справляются с прохождением курса. Каждый из пунктов анализа предполагается сопроводить аналитическим выводом на основании рассчитанных метрик.

<br><br>

_________
Обозначения:<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;**(p)** – задание может быть выполнено после прохождения модулей по Pandas <br>
&nbsp;&nbsp;&nbsp;&nbsp;**(m)** – задание может быть выполнено после прохождения модуля по Matplotlib <br>
&nbsp;&nbsp;&nbsp;&nbsp;⭐ – необязательное задание повышенной сложности
_________

[Codebook](#Codebook) <br>
[1. Описание и начальная работа с данными](#1.1-Описание-и-начальная-работа-с-данными)<br>
[2. Расчет потенциальной нагрузки на преподавателей](#2.-Расчет-потенциальной-нагрузки-на-преподавателей)<br>
[3. Выявление проблемных модулей](#3.-Выявление-проблемных-модулей)<br>
[4. Расчет конверсии](#4.-Расчет-конверсии) <br>
[5. Метрика успеваемости ](#5.-Метрика-успеваемости)

## Codebook

`courses.csv` содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id` – идентификатор курса <br>
&nbsp;&nbsp;&nbsp;&nbsp; `title` – название курса <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `field` – сфера, к которой относится курс <br> <br><br>
`students.csv` содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id` – идентификатор студента <br>
&nbsp;&nbsp;&nbsp;&nbsp; `city` – город студента <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `birthday` – день рождения студента <br> <br><br>
`course_contents.csv` содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `course_id` – идентификатор курса <br>
&nbsp;&nbsp;&nbsp;&nbsp; `module_number` – номер модуля <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `module_title` – название модуля <br> 
&nbsp;&nbsp;&nbsp;&nbsp; `lesson_number` – номер урока <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `lesson_title` – название урока <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `lesson_token` – токен урока <br> 
&nbsp;&nbsp;&nbsp;&nbsp; `is_video` – наличие видео *(true/false)* <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `is_homework` – наличие домашней работы *(true/false)* <br>
<br><br>
`progresses.csv` содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id` – идентификатор прогресса <br>
&nbsp;&nbsp;&nbsp;&nbsp; `student_id` – идентификатор студента <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `course_id` – идентификатор курса <br> <br><br>
`progress_phases.csv` содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `progress_id` – идентификатор прогресса <br>
&nbsp;&nbsp;&nbsp;&nbsp; `module_number` – номер модуля <br>
&nbsp;&nbsp;&nbsp;&nbsp; `lesson_number` – номер урока <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `status` – статус прохождения урока <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `start_date` – дата начала <br> 
&nbsp;&nbsp;&nbsp;&nbsp; `finish_date` – дата окончания <br>
<br><br>

## 1. Описание и начальная работа с данными

Вам необходимо подготовить данные и описать их. Данные реальные и содержат пропущенные значения, а также лишние относительно друг друга данные. <br>

Объедините датасеты (кроме `students.scv`) в один общий для дальнейшей работы. Отдельный датасет создайте для расчета среднего возраста студентов курсов (отдельный датасет со `students.scv` нужен, чтобы в основном не потерять значения в основном датасете из-за того, что не по всем студентам есть анкетные данные о дате рождения). <br> <br>
Опишите данные: <br>
1. **(p)** Посчитайте
      * общее количество курсов в датасете, 
      * количество модулей на каждом курсе, 
      * количество уроков в каждом модуле на каждом курсе, 
      * медианное количество уроков в модуле на каждом курсе, 
      * количество учеников на каждом курсе
      * минимальный, максимальный, средний, медианный возраст студентов
      * минимальный, максимальный, средний, медианный возраст студентов на каждом курсе
2. **(m)** Постройте bar-chart, отражающий количество студентов на каждом курсе. Ticks нужно развернуть так, чтобы они были читаемы
3. **(m)** Постройте горизонтальный (столбцы должны располагаться горизонтально) bar-chart, отражающий количество студентов на каждом курсе. График должен иметь заголовок. Значения должны быть отсортированы. Цвет столбцов должен содержать информацию о сфере, к которой относится курс (то есть нужна легенда). Прозрачность должна стоять на отметке 0.1. На график должна быть нанесена линия медианы. У медианы должен быть свой цвет. Рамки у графика быть не должно ⭐
4.     На основании рассчитанных значений опишите данные (описание должно быть полным и покрывать все полученные выше метрики)

_____________________________________________________________________

Для того, чтобы проверить, что вы правильно соединили все датасеты в основной (без `students.csv`), запустите аналогичный приведенному ниже запрос. Выдача должна совпадать. Имейте в виду, что названия некоторых столбцов были переименованы.

In [1]:
# main[main.student_id == '768c2987a744c51ce64a5993a2a94eaf'] # проверка основного датасета

In [2]:
# Импортируем необходимые для выполнения заданий библиотекки

import pandas as pd
from matplotlib import pyplot as plt
import missingno as msno
from datetime import datetime, timedelta

---
Последовательно считываем файлы в датафреймы, выводим первые 5 строк для общего представления о данных, получаем информацию о датафреймах и определяем типы данных и пропущенные значения.
    
---

In [3]:
courses_df = pd.read_csv('Data/courses.csv', index_col=0)
courses_df.head()

,id,title,field
0,943306102e5b067d08a29094f37b8193,Java-разработчик c нуля,Development
1,17013cd19d25cb3f28dc1b2683721bb9,Веб-дизайн Базовый,Design
2,ac634845fb0350d0e9d49078aaa4b68f,Excel Базовый,Business
3,0770b1b039964228294f1f34b29fc2c1,Руководитель digital-проектов,Business
4,abce125a877c2196a3bc7bfbc11b5fc5,Веб-вёрстка для начинающих 2.0,Development

In [4]:
courses_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      15 non-null     object
 1   title   15 non-null     object
 2   field   15 non-null     object
dtypes: object(3)
memory usage: 480.0+ bytes

In [5]:
course_contents_df = pd.read_csv('Data/course_contents.csv')
course_contents_df.head()

,course_id,module_number,module_title,lesson_number,lesson_title,lesson_token,is_video,is_homework
0,04ba6d0b40670c43a209141fa01fa784,1,"Введение в Motion Design. Тренды, разновидност...",1,Знакомство,aa344de3-1191-4e69-b485-61823118f71c,True,False
1,04ba6d0b40670c43a209141fa01fa784,1,"Введение в Motion Design. Тренды, разновидност...",2,"Введение в Motion Design. Тренды, разновидност...",246c8429-dd18-4f3a-a9fb-d3c07e7d6912,True,False
2,04ba6d0b40670c43a209141fa01fa784,1,"Введение в Motion Design. Тренды, разновидност...",3,Домашняя работа,c4377574-d117-45c7-8da5-dd7d1923517d,False,True
3,04ba6d0b40670c43a209141fa01fa784,2,12 принципов анимации от Walt Disney Studio,1,Интро,7ea16a2d-e6d1-4158-907f-ae0ce8379c45,True,False
4,04ba6d0b40670c43a209141fa01fa784,2,12 принципов анимации от Walt Disney Studio,2,12 принципов анимации,7eea2930-11db-45c9-a16c-0d800b6dc99d,True,False

In [6]:
course_contents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   course_id      1201 non-null   object
 1   module_number  1201 non-null   int64
 2   module_title   1201 non-null   object
 3   lesson_number  1201 non-null   int64
 4   lesson_title   1201 non-null   object
 5   lesson_token   1201 non-null   object
 6   is_video       1201 non-null   bool
 7   is_homework    1201 non-null   bool
dtypes: bool(2), int64(2), object(4)
memory usage: 58.8+ KB

In [7]:
progresses_df = pd.read_csv('Data/progresses.csv')
progresses_df.head()

,id,student_id,course_id
0,8459fbc07e32ec92bd7b43d7df9bfa89,a6ae278c0eab719b3784e5ea147c128f,0770b1b039964228294f1f34b29fc2c1
1,a9d173142534e33ce39146017f9c6835,e24062de06d301937b3b3a8e383e3e21,bf27a4bf4ada4c756451703ea62a914f
2,da26551a71cd62bbab844e3e54af7f71,35a36d90b745992b59085c8d54a072e7,6e4837f0a65c68efbfdd0594d6774701
3,cda22f5fb5b5dcfad42b59b91b1938dc,37e8e8179295ae764524223086b0b568,abce125a877c2196a3bc7bfbc11b5fc5
4,5ead083521d7f2284a43290c743aa93b,37e8e8179295ae764524223086b0b568,17013cd19d25cb3f28dc1b2683721bb9

In [8]:
progresses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15934 entries, 0 to 15933
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15934 non-null  object
 1   student_id  15934 non-null  object
 2   course_id   15934 non-null  object
dtypes: object(3)
memory usage: 373.6+ KB

In [9]:
progresses_phases_df = pd.read_csv('Data/progress_phases.csv')
progresses_phases_df.head()

,progress_id,module_number,lesson_number,status,start_date,finish_date
0,a387ab916f402cb3fbfffd29f68fd0ce,2,4,done,2018-06-23 08:28:50.681065+00,2018-06-23 08:28:52.439542+00
1,a387ab916f402cb3fbfffd29f68fd0ce,1,1,done,2018-06-20 14:25:21.783762+00,2018-06-20 15:45:07.717209+00
2,a387ab916f402cb3fbfffd29f68fd0ce,2,2,done,2018-06-23 08:18:09.653771+00,2018-06-23 08:18:12.784616+00
3,a387ab916f402cb3fbfffd29f68fd0ce,1,4,done,2018-06-20 16:00:06.36178+00,2018-06-21 19:09:30.845034+00
4,a387ab916f402cb3fbfffd29f68fd0ce,1,6,done,2018-06-21 19:10:36.957891+00,2018-06-28 15:59:25.320418+00

In [10]:
progresses_phases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350677 entries, 0 to 350676
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   progress_id    350677 non-null  object
 1   module_number  350677 non-null  int64
 2   lesson_number  350677 non-null  int64
 3   status         350677 non-null  object
 4   start_date     350677 non-null  object
 5   finish_date    334508 non-null  object
dtypes: int64(2), object(4)
memory usage: 16.1+ MB

---
В импортированных выше данных отсутствуют пропущенные значения, за исключением поля finish_date датасета progresses_phases.
В данном случае нулевые значения могут говорить о том, что пока неизвестно, когда студент закончит обучение.

---

In [11]:
students_df = pd.read_csv('Data/students.csv')
students_df.head()

    id_                                id              city    birthday
0  1325  35e8a1938b9a33d5e45c8f4451c4309a               NaN         NaN
1  7503  6c3e52be632fc50de9640147e4017dcd            Москва  1979-10-23
2  8972  2033122d7c9b24b36eebc468d5259642               NaN         NaN
3  9235  a6ae278c0eab719b3784e5ea147c128f            Москва         NaN
4  9588  51b25c9afd20d178ef3c07276df38e2d  Великий Новгород         NaN

In [12]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43830 entries, 0 to 43829
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_       43830 non-null  int64
 1   id        43830 non-null  object
 2   city      13162 non-null  object
 3   birthday  25499 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.3+ MB

---
У многих студентов отсутствуют сведения о городе и дате рождения.

---

---
Объединяем датасеты в один общий чтоб выполнить агрегированные запросы.

---

In [13]:
data_df = progresses_phases_df.merge(progresses_df, how='left', left_on='progress_id', right_on='id').drop('id', axis=1) 
data_df.head()

,progress_id,module_number,lesson_number,status,start_date,finish_date,student_id,course_id
0,a387ab916f402cb3fbfffd29f68fd0ce,2,4,done,2018-06-23 08:28:50.681065+00,2018-06-23 08:28:52.439542+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b
1,a387ab916f402cb3fbfffd29f68fd0ce,1,1,done,2018-06-20 14:25:21.783762+00,2018-06-20 15:45:07.717209+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b
2,a387ab916f402cb3fbfffd29f68fd0ce,2,2,done,2018-06-23 08:18:09.653771+00,2018-06-23 08:18:12.784616+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b
3,a387ab916f402cb3fbfffd29f68fd0ce,1,4,done,2018-06-20 16:00:06.36178+00,2018-06-21 19:09:30.845034+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b
4,a387ab916f402cb3fbfffd29f68fd0ce,1,6,done,2018-06-21 19:10:36.957891+00,2018-06-28 15:59:25.320418+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b

In [14]:
data_df = data_df.merge(courses_df, how='left', left_on='course_id', right_on='id').drop('id', axis=1)
data_df.head()

,progress_id,module_number,lesson_number,status,start_date,finish_date,student_id,course_id,title,field
0,a387ab916f402cb3fbfffd29f68fd0ce,2,4,done,2018-06-23 08:28:50.681065+00,2018-06-23 08:28:52.439542+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b,Веб-дизайн PRO 2.0,Design
1,a387ab916f402cb3fbfffd29f68fd0ce,1,1,done,2018-06-20 14:25:21.783762+00,2018-06-20 15:45:07.717209+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b,Веб-дизайн PRO 2.0,Design
2,a387ab916f402cb3fbfffd29f68fd0ce,2,2,done,2018-06-23 08:18:09.653771+00,2018-06-23 08:18:12.784616+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b,Веб-дизайн PRO 2.0,Design
3,a387ab916f402cb3fbfffd29f68fd0ce,1,4,done,2018-06-20 16:00:06.36178+00,2018-06-21 19:09:30.845034+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b,Веб-дизайн PRO 2.0,Design
4,a387ab916f402cb3fbfffd29f68fd0ce,1,6,done,2018-06-21 19:10:36.957891+00,2018-06-28 15:59:25.320418+00,768c2987a744c51ce64a5993a2a94eaf,c9fcb746d51e41bc5a217002d081454b,Веб-дизайн PRO 2.0,Design

In [15]:
data_df = course_contents_df.merge(data_df, how='outer', on=['course_id', 'module_number', 'lesson_number'])

In [16]:
data_df.head(1)

,course_id,module_number,module_title,lesson_number,lesson_title,lesson_token,is_video,is_homework,progress_id,status,start_date,finish_date,student_id,title,field
0,04ba6d0b40670c43a209141fa01fa784,1,"Введение в Motion Design. Тренды, разновидност...",1,Знакомство,aa344de3-1191-4e69-b485-61823118f71c,True,False,e4897c239bcf0cbf7b081c8de86eb893,start,2018-04-03 16:36:54.023829+00,NaN,5c133b73eecb3743a4caa59820d3bd6b,Анимация интерфейсов,Design

---
Выполняем задания раздела 1.

---

In [51]:
# Общее количество курсов в датасете

courses_number = data_df.course_id.nunique()
courses_number

15

In [19]:
# Количество модулей на каждом курсе

modules_count_df = data_df.groupby(['title'])\
                    ['module_number'].nunique()\
                    .reset_index()\
                    .sort_values(by='module_number', ascending=False)\
                    .rename(columns={'module_number': 'modules_count'})\
                    .reset_index(drop=True)
modules_count_df

                                  title  modules_count
0                  Анимация интерфейсов             21
1                             UX-дизайн             20
2                       Веб-разработчик             20
3                 Веб-дизайн с нуля 2.0             19
4                     JavaScript с нуля             18
5         Интернет-маркетолог от Ingate             18
6                      Java-разработчик             17
7                    Веб-дизайн PRO 2.0             17
8                    Веб-дизайн Базовый             17
9         Руководитель digital-проектов             17
10             SMM-маркетолог от А до Я             11
11                        Excel Базовый              9
12              Java-разработчик c нуля              9
13  PHP-разработчик с 0 до PRO. Часть 1              8
14       Веб-вёрстка для начинающих 2.0              8

In [20]:
# Количество уроков в каждом модуле на каждом курсе

lessons_count_df = data_df.groupby(['title', 'module_number'])['lesson_number'].nunique().reset_index().rename(columns={'lesson_number': 'lessons_count'})
lessons_count_df

                             title  module_number  lessons_count
0                    Excel Базовый              1             11
1                    Excel Базовый              2              7
2                    Excel Базовый              3              3
3                    Excel Базовый              4              7
4                    Excel Базовый              5              5
..                             ...            ...            ...
224  Руководитель digital-проектов             13              4
225  Руководитель digital-проектов             14              7
226  Руководитель digital-проектов             15             12
227  Руководитель digital-проектов             16              8
228  Руководитель digital-проектов             17              4

[229 rows x 3 columns]

In [21]:
# медианное количество уроков в модуле на каждом курсе

lessons_median_df = lessons_count_df.groupby(['title'])['module_number'].agg('median').reset_index().rename(columns={'module_number': 'lessons_median'})
lessons_median_df

                                  title  lessons_median
0                         Excel Базовый             5.0
1                      Java-разработчик             9.0
2               Java-разработчик c нуля             5.0
3                     JavaScript с нуля             9.5
4   PHP-разработчик с 0 до PRO. Часть 1             4.5
5              SMM-маркетолог от А до Я             6.0
6                             UX-дизайн            10.5
7                  Анимация интерфейсов            11.0
8        Веб-вёрстка для начинающих 2.0             4.5
9                    Веб-дизайн PRO 2.0             9.0
10                   Веб-дизайн Базовый             9.0
11                Веб-дизайн с нуля 2.0            10.0
12                      Веб-разработчик            10.5
13        Интернет-маркетолог от Ingate             9.5
14        Руководитель digital-проектов             9.0

In [22]:
# количество учеников на каждом курсе

student_count_by_course = data_df.groupby(['title'])['student_id'].nunique().reset_index().rename(columns={'student_id': 'students_count'})
student_count_by_course.sort_values(by='students_count', ascending=False)

                                  title  students_count
13        Интернет-маркетолог от Ingate            2168
11                Веб-дизайн с нуля 2.0            2014
8        Веб-вёрстка для начинающих 2.0            2004
9                    Веб-дизайн PRO 2.0            1711
6                             UX-дизайн            1151
3                     JavaScript с нуля             966
4   PHP-разработчик с 0 до PRO. Часть 1             854
0                         Excel Базовый             782
1                      Java-разработчик             763
14        Руководитель digital-проектов             685
12                      Веб-разработчик             628
7                  Анимация интерфейсов             598
2               Java-разработчик c нуля             581
10                   Веб-дизайн Базовый             518
5              SMM-маркетолог от А до Я             506

---
Для работы с датасетом студентов необходимо подготовить данные:

- удалить пустые значения дней рождения;
- отбросить явно неправильные даты (более 100 лет назад и будущие);
- превратить столбец с днями рождений в формат даты;
- добавить столбец возраста путем вычитания даты рождения из текущей даты.

---

In [23]:
students_df = students_df.dropna(subset=['birthday'])
students_df

          id_                                id             city    birthday
1        7503  6c3e52be632fc50de9640147e4017dcd           Москва  1979-10-23
7       11070  35a36d90b745992b59085c8d54a072e7       Красноярск  1991-08-15
8       11756  37e8e8179295ae764524223086b0b568           Москва  1987-08-24
11      13568  fb10649db552c5f451bea45ed754d428  Санкт-Петербург  1988-07-16
15      15112  d15a188c90bb4d83957ac14de78fada4  Санкт-Петербург  1991-01-16
...       ...                               ...              ...         ...
43821  124068  75e54bba2c6a49602ae0547e1f990d21              NaN  1993-02-16
43824  124234  afbc1ca2ed9ff60239c5d95e0df23856              NaN  1994-04-24
43825  124251  a65ccacbe0226b345f195d02e676aa04              NaN  2000-11-21
43826  124338  148f1375e4135e779053a0d4b2a63857              NaN  1999-10-20
43828  124377  9ff58c490f6ee5b013e7f62140ee3d79              NaN  1998-04-18

[25499 rows x 4 columns]

In [24]:
students_df.fillna(value='Unknown', inplace=True)

In [25]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25499 entries, 1 to 43828
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id_       25499 non-null  int64
 1   id        25499 non-null  object
 2   city      25499 non-null  object
 3   birthday  25499 non-null  object
dtypes: int64(1), object(3)
memory usage: 996.1+ KB

In [26]:
students_real_bithdays = students_df[(students_df.birthday > '1900-01-01') & (students_df.birthday < '2020-01-01')]

In [27]:
students_real_bithdays.loc[:, 'birthday'] = students_real_bithdays.loc[:, 'birthday'].apply(pd.to_datetime)

/home/vladimir/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [28]:
students_real_bithdays.loc[:, 'age'] = pd.to_datetime('2020-08-24') - students_real_bithdays['birthday']

students_real_bithdays.loc[:, 'age'] = students_real_bithdays.loc[:, 'age'] / timedelta(days=365)

/home/vladimir/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [29]:
students_real_bithdays

,id_,id,city,birthday,age
1,7503,6c3e52be632fc50de9640147e4017dcd,Москва,1979-10-23,40.865753
7,11070,35a36d90b745992b59085c8d54a072e7,Красноярск,1991-08-15,29.046575
8,11756,37e8e8179295ae764524223086b0b568,Москва,1987-08-24,33.024658
11,13568,fb10649db552c5f451bea45ed754d428,Санкт-Петербург,1988-07-16,32.128767
15,15112,d15a188c90bb4d83957ac14de78fada4,Санкт-Петербург,1991-01-16,29.624658
...,...,...,...,...,...
43821,124068,75e54bba2c6a49602ae0547e1f990d21,Unknown,1993-02-16,27.536986
43824,124234,afbc1ca2ed9ff60239c5d95e0df23856,Unknown,1994-04-24,26.353425
43825,124251,a65ccacbe0226b345f195d02e676aa04,Unknown,2000-11-21,19.769863
43826,124338,148f1375e4135e779053a0d4b2a63857,Unknown,1999-10-20,20.860274
43828,124377,9ff58c490f6ee5b013e7f62140ee3d79,Unknown,1998-04-18,22.367123

In [30]:
# минимальный, максимальный, средний, медианный возраст студентов

age_statistics = students_real_bithdays.groupby('id')['age'].agg([min, max, 'mean', 'median'])
age_statistics

                                        min        max       mean     median
id
0000346a8e4909a71a8a9cbb86d8e071  21.219178  21.219178  21.219178  21.219178
000332ef4e061fc0cf85f21e392c601d  34.257534  34.257534  34.257534  34.257534
000333b6aa5706c53f4d2ec24c7a128d  34.498630  34.498630  34.498630  34.498630
000645428d4d001006da708178f9689c  27.783562  27.783562  27.783562  27.783562
0007e271c3f2f20ff8675df9d81e0401  22.432877  22.432877  22.432877  22.432877
...                                     ...        ...        ...        ...
fff629f06c8dedfff969cb2115ca61fa  34.602740  34.602740  34.602740  34.602740
fff9c6b403f88a6b83dc1837a93dc4dd  32.238356  32.238356  32.238356  32.238356
fffba01aaa3936b9fcd78c01ef5a9887  30.246575  30.246575  30.246575  30.246575
fffc0307abdaa5ba8bf0b6e88b101712  29.953425  29.953425  29.953425  29.953425
ffffda7a278ec8c9967ae6bd8a0ee29e  37.098630  37.098630  37.098630  37.098630

[25480 rows x 4 columns]

In [49]:
# минимальный, максимальный, средний, медианный возраст студентов на каждом курсе

student_courses_df = students_real_bithdays.merge(progresses_df, how='left', left_on='id', right_on='student_id', suffixes=('_stud', '_prog')) 
student_courses_df = student_courses_df.merge(courses_df, how='left', left_on='course_id', right_on='id')
student_courses_df.drop(columns=['id_prog', 'student_id', 'course_id', 'id', 'field'], inplace=True)
student_courses_df.dropna(inplace=True)
student_courses_df

,id_,id_stud,city,birthday,age,title
1,11070,35a36d90b745992b59085c8d54a072e7,Красноярск,1991-08-15,29.046575,Java-разработчик
2,11756,37e8e8179295ae764524223086b0b568,Москва,1987-08-24,33.024658,Веб-вёрстка для начинающих 2.0
3,11756,37e8e8179295ae764524223086b0b568,Москва,1987-08-24,33.024658,Веб-дизайн Базовый
4,11756,37e8e8179295ae764524223086b0b568,Москва,1987-08-24,33.024658,Веб-разработчик
5,13568,fb10649db552c5f451bea45ed754d428,Санкт-Петербург,1988-07-16,32.128767,UX-дизайн
...,...,...,...,...,...,...
31011,123182,a9e1b3b7afd461fdf1c3c1f12eb15f0e,Unknown,2001-06-23,19.183562,Веб-дизайн с нуля 2.0
31012,123273,0f12abf574cff459768ec97e236f8f01,Unknown,1997-04-24,23.350685,PHP-разработчик с 0 до PRO. Часть 1
31017,123529,e2eacf5b3bb299f535fb48fe29f2daf2,Unknown,1989-05-08,31.317808,Интернет-маркетолог от Ingate
31019,123739,880e5d95c043a0bc343c238030b8c8a6,Unknown,1987-05-15,33.301370,Веб-дизайн с нуля 2.0
31022,123796,4654f37c3ef3006b82fc10becab38942,Unknown,1987-04-15,33.383562,Интернет-маркетолог от Ingate

In [50]:
ages_by_courses = student_courses_df.groupby('title')['age'].agg([min, max, 'mean', 'median'])
ages_by_courses

,min,max,mean,median
title,,,,
Excel Базовый,1.991781,61.238356,34.319408,34.421918
Java-разработчик,6.224658,64.934247,30.076569,29.264384
Java-разработчик c нуля,6.224658,55.380822,30.266348,29.528767
JavaScript с нуля,1.646575,59.706849,29.291884,28.542466
PHP-разработчик с 0 до PRO. Часть 1,1.646575,75.345205,30.184820,29.278082
SMM-маркетолог от А до Я,2.041096,52.386301,29.750272,28.973973
UX-дизайн,1.767123,85.523288,30.806053,30.402740
Анимация интерфейсов,1.610959,51.627397,30.342751,29.810959
Веб-вёрстка для начинающих 2.0,1.646575,59.706849,29.323951,28.502740
Веб-дизайн PRO 2.0,1.621918,59.646575,29.139249,28.200000
Веб-дизайн Базовый,16.180822,51.523288,29.365753,28.426027
Веб-дизайн с нуля 2.0,1.621918,119.871233,28.942753,27.879452
Веб-разработчик,14.128767,51.402740,28.924047,28.309589
Интернет-маркетолог от Ingate,1.890411,100.715068,32.008216,31.172603
Руководитель digital-проектов,1.660274,55.268493,32.118786,31.975342

## 2. Расчет потенциальной нагрузки на преподавателей

1. **(p)** Рассчитать прирост студентов на каждом курсе в каждом месяце за всю историю (каждый месяц в диапазоне от марта 2016 до июля 2019 включительно). Считать дату начала прохождения курса студентом по дате начала первой домашней работы.
2. **(m)** На основании первого пункта построить line-graph с приростом студентов в каждом месяце для каждого курса. 15 графиков. Графики должны иметь заголовки, оси должны быть подписаны. Ticks нужно развернуть так, чтобы они были читаемы.
3. **(m)** На основании первого пункта построить line-graph с несколькими линиями, отражающими прирост студентов в каждом месяце для каждого курса. 15 линий на графике. Ticks нужно развернуть так, чтобы они были читаемы. График должен иметь заголовок. Ось, отражающая прирост, должна быть подписана. Линия для каждого курса должна иметь свой цвет (нужна легенда). Рамок у графика быть не должно ⭐
4. **(p)** Рассчитать количество прогрессов по выполнению домашних работ в каждом месяце за всю историю (каждый месяц в диапазоне от марта 2016 до июля 2019 включительно) для каждого курса. Учитывать, что выполнение домашнего задания может перетекать из одного месяца в другой (такие дз надо включать в общее число прогрессов для всех месяцев, которые покрывает срок выполнения этих дз)
5. **(m)** Построить line-graph по четвертому пункту. 15 графиков. Графики должны иметь заголовки, оси должны быть подписаны. Ticks нужно развернуть так, чтобы они были читаемы
6. **(m)** Построить один line-graph для всех курсов по четвертому пункту. 15 линий на графике. Ticks нужно развернуть так, чтобы они были читаемы. График должен иметь заголовок. Ось, отражающая количество прогрессов, должна быть подписана. Линия для каждого курса должна иметь свой цвет (нужна легенда). Рамок у графика быть не должно ⭐
7. На основании рассчитанных значений сделайте аналитический вывод (должен быть полным и покрывать все полученные выше метрики)

In [ ]:
### YOUR CODE HERE ###

## 3. Выявление проблемных модулей

1. **(p)** Рассчитать минимальное, максимальное, среднее, медианное время прохождения каждого модуля (разность между временем начала и окончания выполнения домашней работы) для каждого курса. Если домашних заданий в модуле несколько, то считать разность между временем начала выполнения первой домашней работы и временем окончания выполнения последней домашней работы в модуле
2. **(m)** На основании первого пункта построить line-graph с медианным временем прохождения каждого модуля для каждого курса. 15 графиков. Графики должны иметь заголовки
3. **(p)**  Чтобы выявить сезонность, посчитать медианное время выполнения домашней работы по месяцам (12 месяцев, январь-декабрь) для каждого курса. 
4. **(m)** На основании третьего пункта построить line-graph, на который будут нанесены линии для каждого курса с медианным временем выполнения домашней работы по месяцам. 15 линий на графике. График должен иметь заголовок. Ось, отражающая время прохождения, должна быть подписана. Линия для каждого курса должна иметь свой цвет (нужна легенда). Рамок у графика быть не должно  ⭐
5. На основании рассчитанных значений сделайте аналитический вывод (должен быть полным и покрывать все полученные выше метрики)

In [ ]:
### YOUR CODE HERE ###

## 4. Расчет конверсии

1. **(p)** Посчитать конверсию перехода студентов из одного модуля в другой на каждом курсе. Формула: отношение количества студентов, приступивших к выполнению домашнего задания в этом модуле (если дз в модуле несколько, то считать по первому дз в модуле), к количеству студентов, сдавших задание в предыдущем модуле (если дз в модуле несколько, то считать по последнему дз в модуле).
2. **(m)** Постройте bar-chart, отражающий конверсию перехода студентов из одного модуля в другой на каждом курсе. График должен иметь заголовок. Ticks нужно развернуть так, чтобы они были читаемы
3. **(m)** Постройте горизонтальный (столбцы должны располагаться горизонтально) bar-chart, отражающий конверсию перехода студентов из одного модуля в другой на каждом курсе. 15 графиков. Графики должны иметь заголовки. Ticks должны содержать номер и название модуля. Цвет столбцов графиков должен содержать информацию о сфере, к которой относится курс (нужна легенда). Прозрачность должна стоять на отметке 0.1. На графики должна быть нанесена линия медианы конверсии для каждого курса. У медианы должен быть свой цвет. Рамок у графиков быть не должно ⭐
4. На основании рассчитанных значений сделайте аналитический вывод (должен быть полным и покрывать все полученные выше метрики)

In [ ]:
### YOUR CODE HERE ###

## 5. Метрика успеваемости 

&nbsp;&nbsp;&nbsp;&nbsp;*(необязательное задание)*

Иногда студенты берут курсы, которые оказываются для них неподъемными. Это может быть как по причинам недостаточной изначальной подготовки, так и по причинам, связанным с низкой мотивацией студента. Для улучшения качества контента полезно выявить причину. На основании имеющихся данных придумайте метрику успеваемости студента. **Обоснуйте ее.** Выявите таких студентов на каждом курсе, чтобы предоставить продюсерам список проблемных студентов.

In [ ]:
### YOUR CODE HERE ###